*.dylib
*.dylib.dSYM
.idea
node_modules
dist
out
.DS_Store
*.sqlite.db
*.o
*.a
*.dll
*.exp
*.lib
*.obj
*.so
yarn.lock
yarn-error.log
.yarn
chromedriver
chromedriver.exe

/secrets

out/
scripts/CodeSignTool-v1.3.2-windows
scripts/CodeSignTool-v1.3.2
