
.CodeMirror {
  height: 100%;
  font-size: 13px;
  font-family: 'JetBrains Mono', monospace;
}

.CodeMirror-empty {
  color: #aaa;
  // Make it unhighlightable
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

span.link {
  text-decoration: underline;
  cursor: pointer;
  color: #0000ee;
}

span.databaseEngine {
  font-size: 13px;
  padding: 1px 5px;
  background-color: #ccc;
  color: #333;
  border-radius: 5px;
  margin-right: 5px;
  display: inline-block;
  user-select: none;
}