#checkLicenseForm {
  * {
    font-family: 'Dosis', sans-serif;
  }

  font-family: 'Dosis', sans-serif;
  font-size: 13px;
  background-color: #F2DF74;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 800px;
  min-height: 500px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px 0px;

  .step {
    background: #565656;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 5px;
    text-align: center;
    width: 1.6em;
  }

  .enter-license-form {
    display: block;
    font-size: 17px;

    > div {
      padding: 10px;

      button {
        margin-right: 10px;
      }
    }

    .field {
      .input {
        textarea {
          width: 600px;
          height: 200px;
          resize: none;
        }
      }

      .remark {
        padding-top: 5px;
        color: #666;
      }
    }

    .cta {
      .error-message {
        padding-bottom: 20px;
        color: #B22222;
      }

      .remark {
        padding-top: 8px;
        color: #666;
      }
    }
  }

  button {
    background-color: #004165;
    color: #EFEFEF;
    border-radius: 4px;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding: 0 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;

    &.warn {
      background-color: #d33114;

      &:disabled {
        background-color: #f44336 !important;
      }
    }

    &:active {
      box-shadow: none;
      position: relative;
      top: 1px;
    }

    &:disabled {
      box-shadow: none;
      position: relative;
      top: 1px;
      background-color: #4485a9;
      cursor: not-allowed;
    }
  }
}
